.idea
node_modules
package.json
package-lock.json
# Following file is added in gitignore till we start adding service_now_client event processing implementation
tests/assets/service_now_client/test_service_now_client.py
